
  
  form {
    width: 500px; /* Ajusta el ancho según tus necesidades */
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

    /* Centrar verticalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #89cf9d;
    color: #000000;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: #dfe8ee;
    box-shadow: 0 0 20px #a6a6a650;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #6cd558;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }