

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding: 20px;
  background: linear-gradient(to bottom, #1d0f0f7c, #82e5d1a7, hsla(169, 88%, 77%, 0.574));
  height: 100vh;
  
}







